@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

html,
body {
  height: 100%;
}
html {
  display: table;
  margin: auto;
}
body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-color: antiquewhite;
}

.title-header,
.description-header,
.ingredients-header,
.directions-header,
.recipe-image,
.under-header,
.name-header {
  text-align: center;
  display: block;
}

ol,
ul {
  margin-left: 13%;
  display: inline-block;
  height: 50%;
}
